﻿
@model IEnumerable<Depoda.Models.warehouse>
@using Depoda.Models;


@{
    Layout = "~/Views/Shared/_layoutEmpty.cshtml";
}
@section content{
    <!DOCTYPE html>
    <!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
    <!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
    <!--[if !IE]><!-->
    <html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>Siparis Sec</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Depoda" name="description" />
        <meta content="" name="author" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        @Styles.Render("~/Content/css")
        <link href="~/assets/login-3.css" rel="stylesheet" />
        <link rel="shortcut icon" href="favicon.ico" />
        <link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </head>

    <body>
        <!-- BEGIN LOGO -->
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Products
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th> Urun Adi </th>
                                        <th>  Fiyat(TL) </th>

                                        <th> Warehouse Number </th>
                                        <th> Quantity </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td> @item.product.name</td>
                                            <td> @item.product.price</td>

                                            <td> @item.warehouse_nr</td>
                                         
                                            <td>@item.quantity</td>
                                            @if(Convert.ToInt32(item.quantity) == 0)
                                            {
                                                <td>Depoda urun bulunmamaktadir.</td>

                                            }
                                            else { 
                                           <td>
                                                <a href="/customerLogin/orderDetail/@item.id"> Siparis ver </a>
                                            </td>
                                            }
                                            <td></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/assets/bootstrap/js/bootstrap.js"></script>
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/assets/js/app.js"></script>
        <script src="~/assets/layout4/scripts/layout.min.js" type="text/javascript"></script>
        <script src="~/assets/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/assets/jquery-validation/js/jquery.validate.js"></script>
        <script src="~/assets/jquery-validation/js/additional-methods.min.js"></script>

        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
        <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
        </script>
    </body>
</html>
}