﻿@model Depoda.Models.orderDetail
@{
    Layout = "~/Views/Shared/_layoutEmpty.cshtml";
}
@section content{
    <!DOCTYPE html>
    <!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
    <!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
    <!--[if !IE]><!-->
    <html lang="en">    
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>Siparis Ver</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Depoda" name="description" />
        <meta content="" name="author" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        @Styles.Render("~/Content/css")
        <link href="~/assets/login-3.css" rel="stylesheet" />
        <link rel="shortcut icon" href="favicon.ico" />
        <link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </head>

    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            @*<a>
                <img src="~/images/logo.png" />
            </a>*@
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">

            <form class="login-form" action="~/customerLogin/setOrder" method="post">
                <input name="productId" hidden="hidden" value=@Model.productId>
                <input name="warehouseId" hidden="hidden" value=@Model.warehouseId>

                <h3 class="form-title">Kac adet almak istiyorsunuz</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Siparis adedi. </span>
                </div>
                <div class="form-group">

                    <label class="control-label visible-ie8 visible-ie9"></label>
                    <div class="input-icon">
                        <i class=""></i>
                        <input class="form-control placeholder-no-fix" onkeyup="calculate(@Model.prodPrice,@Model.quantity)" type="number" autocomplete="off" placeholder="" id="orderNumber" name="orderNumber" />
                    </div>
                </div>
           
                <div class="form-group">

                    <label class="control-label visible-ie8 visible-ie9"></label>
                    <div class="input-icon">
                        <i class=""></i>
                        <input class="form-control placeholder-no-fix"  readonly="readonly" type="text" autocomplete="off" placeholder="" id="amount"  name="amount"/>
                    </div>
                </div>

                <div class="form-actions">
                
                    <button type="submit" class="btn green pull-right"> Siparis Ver </button>
                </div>

            </form>

        </div>

        <script src="~/assets/bootstrap/js/bootstrap.js"></script>
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/assets/js/app.js"></script>
        <script src="~/assets/layout4/scripts/layout.min.js" type="text/javascript"></script>
        <script src="~/assets/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/assets/jquery-validation/js/jquery.validate.js"></script>
        <script src="~/assets/jquery-validation/js/additional-methods.min.js"></script>

        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
        <script>
            $(document).ready(function () {
                $('#clickmewow').click(function () {
                    $('#radio1003').attr('checked', 'checked');
                });

       

            });
            function calculate(price,quantity) {
                var number= $('#orderNumber').val();
                if(quantity < number){
                    alert('Stoktaki urun sayisindan fazla girdiniz.');
                    $('#orderNumber').val('');
                    $('#amount').val('');
                    return false;
                }
                var amount= price * number;
                $('#amount').val(amount + ' TL');
            }
        </script>
    </body>
</html>
}