﻿

<div class="portlet portlet-sortable  box green" id="section1" data-order="0">
    <input type="hidden" name="section" value="contact" />
   
    <input type="hidden" name="order" />

    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-bars"></i><span class="portlet-title-span">Başlık</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body tabs-below" style="display: block;">

        <div class="form-group">
            <label class="control-label col-md-4">
                Başlık
                <span class="required"> * </span>
            </label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="title" onkeypress="changeTitle(this);" onblur="changeTitle(this);" />
            </div>
        </div>

        

        <div class="form-group">
            <label class="control-label col-md-4">
                Açıklama
                <span class="required"> * </span>
            </label>
            <div class="col-md-8">
                <textarea class="form-control" name="description1" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">
                Link Adresi
            </label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="buttonLink1" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                Sayfa linki
            </label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="permaLink2" />
            </div>
        </div>

    </div>
</div>
