﻿<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <div class="page-logo">
            @*<a href="index.html">
                <img src="/images/logo.png" alt="logo" class="logo-default" />
            </a>*@
            <div class="menu-toggler sidebar-toggler"></div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
      
        <div class="page-top">
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="~/home/logout" class="logout">
                            <span class="username username-hide-on-mobile"> Çıkış </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

