﻿@using Depoda;
<ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

   

    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-user"></i>
            <span class="title">Kullanıcılar</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="/users/list" class="nav-link ">
                    <i class="icon-list"></i>
                    <span class="title">Listele</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/users/manage" class="nav-link ">
                    <i class="icon-plus"></i>
                    <span class="title">Yeni Kullanıcı</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-image"></i>
            <span class="title">Product</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="/product/list" class="nav-link ">
                    <i class="icon-list"></i>
                    <span class="title">Listele</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/product/manage" class="nav-link ">
                    <i class="icon-plus"></i>
                    <span class="title">Yeni Urun</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-file-image-o" aria-hidden="true"></i>
            <span class="title">Customers</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="/customer/list" class="nav-link ">
                    <i class="icon-list"></i>
                    <span class="title">Customer Listele</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/customer/manage" class="nav-link ">
                    <i class="icon-plus"></i>
                    <span class="title">Yeni Customer</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
            <span class="title">Warehouse</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="/warehouse/list" class="nav-link ">
                    <i class="icon-list"></i>
                    <span class="title"> Listele</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/warehouse/manage" class="nav-link ">
                    <i class="icon-plus"></i>
                    <span class="title">Yeni Warehouse</span>
                </a>
            </li>
        </ul>
    </li>
    
    <li class="nav-item">
        <a href="/purchase/list" class="nav-link ">
            <i class="fa fa-bars"></i>
            <span class="title">Purchase</span>
        </a>
    </li>

   

    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-pencil"></i>
            <span class="title">Trucks</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item">
                <a href="/blogs/list" class="nav-link ">
                    <i class="icon-list"></i>
                    <span class="title">Listele</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/blogs/manage" class="nav-link ">
                    <i class="icon-plus"></i>
                    <span class="title">Truck Ekle</span>
                </a>
            </li>
        </ul>
    </li>

  
</ul>