﻿@model Depoda.Models.User

@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section styles{}

@section content{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit portlet-form bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green bold uppercase">KULLANICI SİLİNMEK ÜZERE</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form id="submit_form" class="form-horizontal" action="/users/deleteConfirmed">
                        <div class="form-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="id" value="@Model.id" />
                                    Ad Soyad
                                </div>
                            </div>

                           
                            <div class="row">
                                <div class="col-md-12">
                                    <b>@Model.name</b>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    E-Posta
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <b>@Model.email</b>
                                </div>
                            </div>


                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn red">Silmeyi Onayla</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
}

@section script{
    <!--[if lt IE 9]>
<script src="/admin/assets/js/respond.min.js"></script>
<script src="/admin/assets/js/excanvas.min.js"></script>
<script src="/admin/assets/js/ie8.fix.min.js"></script>
<![endif]-->
@*<script src="/admin/assets/js/jquery.min.js"></script>
<script src="/admin/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/assets/js/app.js"></script>
<script src="/admin/assets/layout4/scripts/layout.min.js" type="text/javascript"></script>*@

<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/js/app.js"></script>
<script src="~/assets/layout4/scripts/layout.min.js" type="text/javascript"></script>
}