﻿@model IEnumerable<Depoda.Models.User>
@using Depoda.Models;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section content{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Kullanıcılar
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th> Ad Soyad </th>
                                    <th> E-Posta </th>
                                    <th>  </th>
                                    <th>  </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @item.name </td>
                                        <td> @item.email
                                         </td>
                                        <td>
                                            <a href="/users/manage/@item.id"> Düzenle </a>
                                        </td>
                                        <td>
                                            <a href="/users/delete/@item.id"> Sil </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section script{
   <!--[if lt IE 9]>
<script src="/admin/assets/js/respond.min.js"></script>
<script src="/admin/assets/js/excanvas.min.js"></script>
<script src="/admin/assets/js/ie8.fix.min.js"></script>
<![endif]-->
@*<script src="/admin/assets/js/jquery.min.js"></script>
<script src="/admin/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/assets/js/app.js"></script>
<script src="/admin/assets/layout4/scripts/layout.min.js" type="text/javascript"></script>*@

<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/js/app.js"></script>
<script src="~/assets/layout4/scripts/layout.min.js" type="text/javascript"></script>

}