﻿@model  Depoda.Models.usersViewModel
@using Depoda.Models;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section styles{}

@section content{
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green bold uppercase">Kullanıcı</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form id="submit_form" class="form-horizontal">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button> Lütfen aşağıdaki hataları düzeltin.
                            </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button> Form başarıyla kaydedildi.
                            </div>
                            <div class="form-group  margin-top-20">
                                <input type="hidden" name="id" value="0" />
                                <label class="control-label col-md-3">
                                    Ad Soyad
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Eposta
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="email" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Şifre
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="password" class="form-control" name="password" />
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label class="control-label col-md-3">
                                    Roller
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="mt-checkbox-list" data-error-container="#role_error">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" value="-1" name="roles" /> Yönetici
                                            <span></span>
                                        </label>
                                        <b>Albümler:</b> <br /><br />
                                        @foreach (var album in Model.albums)
                                        {
                                            <label class="mt-checkbox">
                                                <input type="checkbox" value="@album.id" name="roles" /> @album.name
                                                <span></span>
                                            </label>

                                        }
                                        <div id="role_error"> </div>
                                    </div>
                                </div>
                            </div>*@

                            @*<div class="form-group">
                                    <label class="control-label col-md-3">
                                        Albümler
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="mt-checkbox-list1" data-error-container="#role_error1">

                                            @foreach (var album in Model.albums)
                                            {
                                                <label class="mt-checkbox">
                                                    <input type="checkbox" value="@album.id" name="role" /> @album.name
                                                    <span></span>
                                                </label>

                                            }
                                            <div id="role_error1"> </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Kaydet</button>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section script{
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/layout4/scripts/layout.min.js"></script>
    <script src="~/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/jquery-validation/js/jquery.validate.js"></script>
    <script src="~/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="~/assets/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script src="~/assets/views/users.js"></script>
    <script>
        $(document).ready(function () {
            var values = @Html.Raw(Json.Encode(Model));

            console.log(values);

            if(values != null){
                populateForm(values.user);
            }
        })
    </script>

}