
.degertablo
{
color: #000000;
font-family: "Times New Roman";
width:400px;
height:700px;
padding-top: 15px;


-webkit-border-radius: 5px;

-moz-border-radius: 5px;

border-radius:5px;

-moz-box-shadow: 0 0 5px #C62828;

-webkit-box-shadow: 0 0 5px #C62828;

box-shadow: 0px 0px 40px #4DD0E1;
 }
/* Style the tab */
div.tab {
    overflow-x: auto;
	width:auto;
    border: 1px solid #B2EBF2;
    border-radius: 5px; 
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab input {
    background-color: #ffffff;
	width:50%;
    float: left;
    border: 0px solid #B2EBF2;;
    outline: none;
    cursor: pointer;
    padding: 4px 0px;
    transition: 0.1s;
    font-size: 10px;
}

/* Change background color of buttons on hover */
div.tab input:hover {
    background-color:#B2EBF2;
}

/* Create an active/current tablink class */
div.tab input.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
   
}

a{color:#1565C0; text-decoration:none;font:bold} 
a:hover{color:#00ACC1} 

@media only screen and (width : 320px) {
    .degertablo {
       width:  280px;
	   height: 480px;
	   
    }
}
@media only screen and (width : 375px) {
    .degertablo {
       width:  350px;
	   height: 640px;
	   
    }
}

@media only screen and (width : 414px) {
	

    .degertablo {
	
	   position: relative;
	   margin: auto;
	   padding-top: 5px;
       width:  380px;
	   height: 700px;
	   
    }
}

@media only screen and (width :768px) {
	
    .degertablo{
		font-size: 18px;
	   margin: auto;
	   padding: auto;
       width:  650px;
	   height: 980px;
	   
    }
	div.tab input {
			font-size: 14px;
	}
}

	@media only screen and (width :1024px) {
	body {

    padding-top:50px;

	}
    .degertablo {
	  font-size: 28px;
	   margin: auto;
       width:  850px;
	   height: 1200px;
    }
	td.cl{
		width:200px;
	}
	
	
		
	div.tab input {
			font-size: 20px;
	}
}
@media screen and (width :750px) and (height :1334px){

    .degertablo {
	font-size: 18px;
	   margin: auto;
       width:  80%;
	   height: 900px;
	}
    
	div.tab input {
			font-size: 18px;
			
	}
	}
	
	@media screen and (width :1440px) and (height :2560px){

    .degertablo{
	font-size: 32px;
	   margin: auto;
       width:  80%;
	   height: 1800px;
	   
	
	}

	div.tab input {
		
		    height: 80px;
			font-size: 28px;
			
	}
	}


