body {
    background-image: url("/admin/images/4.jpg");
	height : 100%;
	width :100%;
    padding-top: 5px;
	padding-bottom: 5px;
	padding: auto;
	animation: image 10s infinite alternate;
	-webkit-animation: image 10s infinite alternate;
	-moz-animation:image 10s infinite alternate;
}
/*@keyframes image{
    50%{
		background:url("4.jpg"); 
	}
	
	100%{
		background:url("1.jpg"); 
	}
 
	
}*/

.kutuYuvarlak
{
color: #ECEFF1;
font-family: "Times New Roman";
width:350px;
height:700px;
margin:auto;
padding-top: 10px;
-webkit-border-radius: 5px;

-moz-border-radius: 5px;

border-radius:20px;

-moz-box-shadow: 0 0 5px #C62828;

-webkit-box-shadow: 0 0 5px #C62828;

box-shadow: 0px 0px 200px #4DD0E1;
 }
 
 
/* Style the tab */
div.tab {
    overflow-x: auto;
	width:auto;
	height: auto;
    border: 0px solid #B2EBF2;
    border-radius: 1px 1px 20px 20px; 
    background-color: #ffffff;
}

/* Style the buttons inside the tab */
div.tab input {
    background-color: #ffffff;
	width:50%;
    float: left;

    border: 0px solid #B2EBF2;;
    outline: none;
    cursor: pointer;
    padding: 6px 6px;
    transition: 0.1s;
    font-size: 10px;
	color: #000000 ;
	
}

/* Change background color of buttons on hover */
div.tab input:hover {
    background-color:#B2EBF2;

}

@media screen and (width: 320px){
body {
    background-size:auto 568px;
}

    .kutuYuvarlak {
	
	   position: relative;
	   margin: auto;
       width: 80%;
	   height: 100%;
	   
    }
	img.imge {
	   width:  200px;
	   height: 200px;
	}
}

@media screen and (min-width : 414px) {
	
	body {
    padding-top: 10px;

}
    .kutuYuvarlak {
	

	   padding-top: 5px;
       width:  380px;
	   height: 680px;
	   
    }
	div.tab input {
			font-size: 12px;
	}
}

@media screen and (width : 375px) {
	
	body {
    padding-top: 10px;
	

}
    .kutuYuvarlak {
	
	   padding-top: 5px;
       width:  350px;
	   height: 600px;
	   
    }
	img.imge {
	   width:  280px;
	   height: 280px;
	}
	div.tab input {
			font-size: 12px;
	
	}
	
}
@media screen and (width :750px) and (height :1334px){
		body {
    padding-top: 10px;

}
    .kutuYuvarlak {
	font-size: 18px;
	   margin: auto;
       width:  80%;
	   height: 1000px;
	}
	img.arrow {
	   width:  90px;
	   height: 70px;
	}
		img.imge {
	   width:  380px;
	   height: 380px;
	}
	
    
	div.tab input {
			font-size: 18px;
			
	}
	}
	
	@media screen and (width :1440px) and (height :2560px){
		body {
	background-size:cover;

}
    .kutuYuvarlak {
	font-size: 32px;
	   margin: auto;
       width:  80%;
	   height: 1800px;
	   
	
	}
	img.arrow {
	   width:  200px;
	   height: 150px;
	}
		img.imge {
	   width:  800px;
	   height: 800px;
	}
	
    
	div.tab input {
		
		    height: 80px;
			font-size: 28px;
			
	}
	}
	
    @media screen and (width :768px) {
		body {
    padding-top: 10px;

}
    .kutuYuvarlak {
	font-size: 18px;
	   margin: auto;
	 
       width:  600px;
	   height: 900px;
	}
	img.arrow {
	   width:  80px;
	   height: 60px;
	}
		img.imge {
	   width:  350px;
	   height: 350px;
	}
	
    
	div.tab input {
			font-size: 16px;
	}
	}

	@media screen and (width :1024px) {
	body {
    padding-top:50px;

	}
    .kutuYuvarlak {
	  font-size: 24px;
	   margin: auto;
       width:  800px;
	   height: 1200px;
	   
    }
	img.arrow {
	   width:  100px;
	   height: 80px;
	}
	
	img.imge {
	   width:  500px;
	   height: 500px;
	}
	
	
	div.tab input {
			font-size: 22px;
			
			
	}
	}

