﻿@using Depoda.Models;
@model  Depoda.Models.customerViewModel

@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section styles{}

@section content{
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green bold uppercase">Kullanıcı</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form id="submit_form" class="form-horizontal">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button> Lütfen aşağıdaki hataları düzeltin.
                            </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button> Form başarıyla kaydedildi.
                            </div>
                            <div class="form-group  margin-top-20">
                                <input type="hidden" name="id" value="0" />
                                <label class="control-label col-md-3">
                                    Ad Soyad
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Telefon No
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="phoneNumber" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">
                                   Musteri No
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="customerNo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Adres
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="address" />
                                    </div>
                                </div>
                            </div>
            
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Kaydet</button>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section script{
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/layout4/scripts/layout.min.js"></script>
    <script src="~/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/jquery-validation/js/jquery.validate.js"></script>
    <script src="~/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="~/assets/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script src="~/assets/views/customer.js"></script>
    <script>
        $(document).ready(function () {
            var values = @Html.Raw(Json.Encode(Model));

            console.log(values);

            if(values != null){
                populateForm(values.customer);
            }
        })
    </script>

}