﻿@{
    Layout = "~/Views/Shared/_layoutEmpty.cshtml";
}
@section content{
    <!DOCTYPE html>
    <!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
    <!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
    <!--[if !IE]><!-->
    <html lang="en">    
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>Yönetim Paneli Girişi</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Depoda" name="description" />
        <meta content="" name="author" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        @Styles.Render("~/Content/css")
        <link href="~/assets/login-3.css" rel="stylesheet" />
        <link rel="shortcut icon" href="favicon.ico" />
        <link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </head>

    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            @*<a>
                <img src="~/images/logo.png" />
            </a>*@
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">

            <form class="login-form" action="~/home/login" method="post">
                <h3 class="form-title">Üye Girişi</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Lütfen e-posta adresinizi ve şifrenizi girin </span>
                </div>
                <div class="form-group">

                    <label class="control-label visible-ie8 visible-ie9">E-posta</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="E-posta" name="email" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Şifre</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Şifre" name="password" />
                    </div>
                </div>
                <div class="form-actions">
                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="remember" value="true" /> Beni Hatırla
                        <span></span>
                    </label>
                    <button type="submit" class="btn green pull-right"> Giriş </button>
                </div>

            </form>
          
</div>
        <div class="content">

            <form  action="~/customerLogin/login" method="post">
                <div class="form-actions">

                    <button type="submit" class="btn btn-warning">musteri girisi</button>
                    </div>
</form>
        </div>

            <script src="~/assets/bootstrap/js/bootstrap.js"></script>
            <script src="~/assets/js/jquery.min.js"></script>
            <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/assets/js/app.js"></script>
            <script src="~/assets/layout4/scripts/layout.min.js" type="text/javascript"></script>
            <script src="~/assets/jquery-ui/jquery-ui.min.js"></script>
            <script src="~/assets/jquery-validation/js/jquery.validate.js"></script>
            <script src="~/assets/jquery-validation/js/additional-methods.min.js"></script>
            <script src="~/assets/views/login.js"></script>

            <!-- END PAGE LEVEL SCRIPTS -->
            <!-- BEGIN THEME LAYOUT SCRIPTS -->
            <!-- END THEME LAYOUT SCRIPTS -->
            <script>
                $(document).ready(function () {
                    $('#clickmewow').click(function () {
                        $('#radio1003').attr('checked', 'checked');
                    });
                })
            </script>
</body>
</html>
}