﻿@using Depoda;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section content{
<link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <div class="portlet light portlet-fit portlet-form bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green bold uppercase">Yönetim Paneli</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="well">
                Yönetim paneline hoşgeldiniz. Solda bulunan menüler aracılığıyla işlemlerinizi yapabilirsiniz.
            </div>

        </div>
    </div>
}

@section script{

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/layout4/scripts/layout.min.js" type="text/javascript"></script>

}