﻿@model IEnumerable<Depoda.Models.purchaseViewModel>
@using Depoda.Models;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section content{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Products
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th> Musteri </th>

                                    <th> Urun </th>
                                    <th> Depo </th>
                                    <th> Adet </th>
                                    <th> Toplam Fiyat </th>
                                    <th> Tarih </th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @item.customerName</td>
                                        <td> @item.purchaseItem.warehouse.product.name</td>

                                        <td> @item.purchaseItem.warehouse.warehouse_nr</td>
                                        <td>@item.purchaseItem.quantity</td>
                                        <td>@item.purchaseItem.total_price</td>
                                        <td>@item.purchaseItem.date</td>

                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section script{
   <!--[if lt IE 9]>
<script src="/admin/assets/js/respond.min.js"></script>
<script src="/admin/assets/js/excanvas.min.js"></script>
<script src="/admin/assets/js/ie8.fix.min.js"></script>
<![endif]-->
@*<script src="/admin/assets/js/jquery.min.js"></script>
<script src="/admin/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/assets/js/app.js"></script>
<script src="/admin/assets/layout4/scripts/layout.min.js" type="text/javascript"></script>*@

<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/js/app.js"></script>
<script src="~/assets/layout4/scripts/layout.min.js" type="text/javascript"></script>

}