.imageSliderFile img,
.videoSliderFile img,
.files img{margin:0 20px;height:110px;}
.filesJsonData img {
    margin: 0 20px;
    height: 110px;
}

.youtubeVideos a{
    margin-top:-260px;
    margin-right:20px;
}


.cover img {
    margin: 0 20px;
    height: 110px;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left:0;
}

.filters a{font-size:10px !important;}

.js-reload-details-sections{width:80%;}

.portlet.box > .portlet-title > .caption {
    padding: 10px 0 6px 0;
}

.portlet.box > .portlet-title > .tools {
    padding: 8px 0 6px 0;
}

.portlet > .portlet-title {
    min-height: 29px;
}

.portlet > .portlet-title > .caption {
    font-size: 15px;
    line-height: 15px;
}

.portlet {
    margin-bottom: 5px;
}

.portlet > .portlet-title > .caption > i {
    margin-top:0;
}

.dd4-handle {
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    content:'';
    height: 30px;
    padding-top:8px;
    padding-right: 20px;
    padding-left: 10px;
}

.logout{
    display: table-cell !important;
    height: 74px;
    vertical-align: middle;
    color: #fff;
}