﻿#sortable {
    list-style-type: none;
    width: 100%;
}

    #sortable li {
        float: left;
        height: 100px;
        border: 1px ridge #808080;
        text-align: center;
        overflow: hidden;
        font-size: 5px;
    }
.row {
    margin-top: 30px;
}
.portletTitle {
    margin-left: 40px;
    padding-left: 10px;
}
#sectionsHtml ul li {
    font-size: 8.5px;
    position: relative;
}

    #sectionsHtml ul li p {
        position: absolute;
        text-align: center;
        margin-bottom: 0px;
        width: 100%;
    }

    #sectionsHtml ul li .pName {
        bottom: 25px;
    }

    #sectionsHtml ul li .pCode {
        bottom: 10px;
    }
    #sectionsHtml ul li img {
        max-width:100%;
        padding:10px;
        max-height:70%;
    }

